/* your code here */
*{
	font-family: "Lucida Console", "Courier New", monospace;
}
.bottom-details{
	display:flex;
	justify-content:space-between;
	background-color:#313036;
	padding:0rem 2rem;
	color:#a3a2a6;
}
.link-boxes
{
	display:flex;
	justify-content:space-evenly;
	margin-bottom:2rem;
}
.content{
	background-color:black;
	color:white;
}

.media-icons{
	font-size:25px;
	padding:1rem;
	display:flex;
	justify-content:space-between;

}
.fa {
  padding:0.3rem;
  min-width:1.6rem;
  text-align: center;
  text-decoration: none;
  margin: auto;
  border-radius:50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-facebook:hover {
  background: white;
  color: #3B5998;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-twitter:hover {
  background: white;
  color: #55ACEE;
}
.fa-instagram {
  background: #E1306C;
  color: white;
}
.fa-instagram:hover {
  background: white;
  color: #E1306C;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-linkedin:hover {
  background:white ;
  color: #007bb5;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-youtube:hover{
	background: white;
  color: #bb0000;
}
.media-icons a
{
	margin-right:0.5rem;
}
ul{
	list-style-type: none;
}
 .link-boxes h3{
	border-bottom:1px solid white;
	display:inline;
	 margin-left:2.3rem;
}
.link-boxes a{
	color:white;
	text-decoration:none;
	
}
.link-boxes a:hover{
	border-bottom:2px solid white;
	color:lightblue;
}
.footer-section h4{
	border-bottom:1px solid white;
}